@model Timetable_DateSheet_Generator.Models.ViewModels.RegisterCourseViewModelList
@using Microsoft.AspNetCore.Identity;
@using Timetable_DateSheet_Generator.Data.DbContext;
@inject SignInManager<ApplicationUser> signInManager
@inject Timetable_DateSheet_Context Context
<section class="content">
    <div class="container-fluid">        
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List of students are shown below:</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">


                        <table id="example1" class="table table-bordered " style="font-size:12px;">
                            <thead class="table-avatar" style="color:#656565;text-align:center">
                                <tr>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-sort-numeric-down"></i> #</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-th-list"></i> Program</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-user-graduate"></i> Name</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-sort-alpha-up"></i> Enrollment</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-envelope"></i> Email</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-check"></i> Select All <input id="first_ch" type="checkbox" onchange="change('first_ch')" /></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.studentCourseDetailViewModel)
                                {
                                    <tr>

                                        <td style="text-align:center">
                                            <input id="@i course" type="hidden" asp-for="@item.course" />
                                            <input id="@i student" type="hidden" asp-for="@item.studentId " />
                                            @(i + 1)
                                            @{
                                                var user = Context.Users.Where(c => c.Id.Equals(item.User)).FirstOrDefault();
                                                if (user != null)
                                                {
                                                    if (string.IsNullOrEmpty(user.Image))
                                                    {
                                                        <img src="~/dist/img/user.png" class=" img-circle" height="20" width="20">
                                                    }
                                                    else
                                                    {
                                                        <img src="@user.Image" class=" img-circle" height="20" width="20">
                                                    }
                                                }
                                            }
                                        </td>
                                        <td style="text-align:center">
                                            @item.programName
                                        </td>
                                        <td style="text-align:center">
                                            @if (string.IsNullOrEmpty(item.path))
                                            {
                                                <img src="~/dist/img/user.png" class=" img-circle" height="20" width="20">
                                            }
                                            else
                                            {
                                                <img src="@item.path" class=" img-circle" height="20" width="20">
                                            }
                                            @item.Name
                                        </td>
                                        <td style="text-align:center">
                                            @item.enrollment
                                        </td>
                                        <td style="text-align:center">
                                            <i><a href="#">@item.Email</a></i>
                                        </td>
                                        <td style="text-align:center">
                                            <div class="mb-3">
                                                <input type="checkbox" asp-for="@item.isMarked" id="@i mark" />
                                            </div>
                                        </td>
                                    </tr>
                                    i += 1;
                                }
                            </tbody>
                            <tfoot class="table-avatar" style="color:#656565;text-align:center">
                                <tr>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-sort-numeric-up"></i> #</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-th-list"></i> Program</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-user-graduate"></i> Name</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-sort-alpha-up"></i> Enrollment</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-envelope"></i> Email</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-check"></i> Select All <input id="second_ch" type="checkbox" onchange="change('second_ch')" /></th>
                                </tr>
                            </tfoot>
                        </table><hr />

                        <button class="btn btn-info" onclick="Save()"><i class="fa fa-plus"></i> Register Students</button>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    function Save() {
        for (var i = 0; i <@Model.studentCourseDetailViewModel.Count; i++)
        {
            var course = i + " course";
            var student = i + " student";
            var mark = i + " mark";
            var mk = document.getElementById(mark);
            if (mk.checked) {
                var st = document.getElementById(student);
                var cr = document.getElementById(course);
                $.ajax({
                    type: "POST",
                    url: "/Administration/RegisteredCourses/Add?Course=" + cr.value + "&Student=" + st.value,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (Data) {
                    },
                    error: function () { }
                });
                toastr.success("Students Registered Succesfully.");
            }
        }
        window.location.href = 'Actions'
    }
    function change(from) {
        var from = document.getElementById(from);
        var first_ch = document.getElementById("first_ch");
        var second_ch = document.getElementById("second_ch");
        for (var i = 0; i <@Model.studentCourseDetailViewModel.Count; i++)
            document.getElementById(i + " mark").checked = from.checked;
        first_ch.checked = from.checked;
        second_ch.checked = from.checked;

    }      
</script>