@model Timetable_DateSheet_Generator.Models.ViewModels.AttendanceViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity;
@using Timetable_DateSheet_Generator.Data.DbContext;
@inject SignInManager<ApplicationUser> signInManager
@inject Timetable_DateSheet_Context Context
<div style="display:none" id="Click_Create" class="=btn btn-primary" data-toggle="modal" data-target="#modal-lg_Create"></div>
<div class="modal fade" id="modal-lg_Create">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mark New Attendance (@ViewBag.Course.OfferedCourseTitle)</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create" method="post">
                <div class="modal-body">

                    <div class="text-danger">@ViewBag.Message</div>
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="input-group mb-3">                                
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-clock" style="color:#17a2b8"></i></span>
                                </div>
                                <select  class="form-control" asp-for="Attendance.AttendanceCreditHours"  asp-items="Html.GetEnumSelectList<Attendance.AttendanceHours>()">
                                    <option selected value="">Select Contact Hours</option>
                                </select>
                                <input type="hidden" asp-for="Attendance.OfferedCourseID" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">List of registered students are shown below:</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered ">
                                        <thead class="table-avatar" style="color:#656565;text-align:center">
                                            <tr>
                                                <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-sort-numeric-down"></i> #</th>
                                                <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-user-graduate"></i> Name</th>
                                                <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-list-ol"></i> Enrollment</th>
                                                <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-th-list"></i> Department</th>
                                                <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-check"></i> Mark <input id="first_ch" onchange="change('first_ch')" type="checkbox" /></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 0;
                                            }
                                            @foreach (var item in Model.studentAttendances)
                                            {
                                                <tr style="font-size:14px;">
                                                    <td style="text-align:center">
                                                        @(i + 1)
                                                        @{
                                                            var user = Context.Users.Where(c => c.Id.Equals(item.RegisteredCourse.Student.UserID)).FirstOrDefault();
                                                            if (user != null)
                                                            {
                                                                if (string.IsNullOrEmpty(user.Image))
                                                                {
                                                                    <img src="~/dist/img/user.png" class=" img-circle" height="40" width="40">
                                                                }
                                                                else
                                                                {
                                                                    <img src="@user.Image" class=" img-circle" height="40" width="40">
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td style="text-align:center">
                                                        @if (user != null)
                                                        {
                                                            <span>@user.Name</span>
                                                        }
                                                    </td>
                                                    <td style="text-align:center">
                                                        @item.RegisteredCourse.Student.StudentEnrollment
                                                    </td>
                                                    <td style="text-align:center">
                                                        @item.RegisteredCourse.Student.Program.Department.DepartmentName - @item.RegisteredCourse.Student.Program.ProgramName
                                                    </td>                                                    
                                                    <td style="text-align:center">
                                                        <input type="hidden" asp-for="studentAttendances[i].RegisteredCourse.RegisteredCourseID" />
                                                        Present <input id="Present @i" type="checkbox" asp-for="studentAttendances[i].IsPresent" />                                                        
                                                    </td>
                                                </tr>
                                                i += 1;
                                            }
                                        </tbody>
                                        <tfoot class="table-avatar" style="color:#656565;text-align:center">
                                            <tr>
                                                <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-sort-numeric-down"></i> #</th>
                                                <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-user-graduate"></i> Name</th>
                                                <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-list-ol"></i> Enrollment</th>
                                                <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-th-list"></i> Department</th>
                                                <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-check"></i> Mark <input id="second_ch" onchange="change('second_ch')" type="checkbox" /></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info"><i class="fa fa-sync-alt"></i> Save</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
     function change(from) {
        var from = document.getElementById(from);
        var first_ch = document.getElementById("first_ch");
        var second_ch = document.getElementById("second_ch");
        for (var i = 0; i <@Model.studentAttendances.Count; i++)
            document.getElementById("Present "+ i ).checked = from.checked;
        first_ch.checked = from.checked;
        second_ch.checked = from.checked;

    }      
    $(document).ready(function () {

        document.getElementById('Click_Create').click();
    });
</script>

