@model IEnumerable<Timetable_DateSheet_Generator.Models.TimeTables>
@using Microsoft.AspNetCore.Identity;
@using Timetable_DateSheet_Generator.Data.DbContext;
@inject SignInManager<ApplicationUser> signInManager
@inject Timetable_DateSheet_Context Context
@{
    ViewData["Title"] = "Timetables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="create"></div>
<div id="edit"></div>
<div id="delete"></div>
<div id="view"></div>

<section class="content-header">
    <div class="card">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="~/Administration/TimeTables/Actions">Timetables</a></li>
                <li class="nav-item"><a class="nav-link active" href="~/Administration/TimeTableSlots/Actions">Timetable TimeSlots</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><i style="color:#17a2b8" class="far fa-calendar-alt"></i> Timetable Timings</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Administration/Dashboard/View">Dashboard</a></li>
                    <li class="breadcrumb-item active">Timetable Timings</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List of timetables are shown below:</h3>
                        <button class="btn btn-info float-right" id="crtBtn" onclick="LoadCreate()"><i class="fa fa-plus"></i> Add New Timetable Timings</button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered ">
                            <thead class="table-avatar" style="color:#656565;text-align:center">
                                <tr>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-sort-numeric-down"></i> #</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-university"></i> Institute</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-list-ol"></i> Semester</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-clock"></i> TimeSlots</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-check"></i> Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td style="text-align:center">
                                        @(i + 1)
                                        @{
                                            var user = Context.Users.Where(c => c.Id.Equals(item.User)).FirstOrDefault();
                                            if (user != null)
                                            {
                                                if (string.IsNullOrEmpty(user.Image))
                                                {
                                                    <img src="~/dist/img/user.png" class=" img-circle" height="40" width="40">
                                                }
                                                else
                                                {
                                                    <img src="@user.Image" class=" img-circle" height="40" width="40">
                                                }
                                            }
                                        }
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.Institute.InstituteName)
                                    </td>
                                    <td style="text-align:center">
                                        @item.Semester.getSemesterType-@item.Semester.SemesterYear
                                    </td>
                                    <td style="text-align:center">
                                        @ViewBag.Timings[i]
                                    </td>
                                    <td class="project-actions text-right">                                        
                                        <button class="btn btn-outline-success btn-sm" onclick="this.disabled = true; LoadEdit(@item.TimeTableID);this.disabled=false;">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </button>
                                        <button class="btn btn-outline-danger btn-sm" onclick="this.disabled = true; LoadDelete(@item.TimeTableID);this.disabled=false;">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                    i += 1;
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="font-weight:400;text-align:center"><i style="color:#17a2b8" class="fa fa-sort-numeric-up"></i> #</th>
                                    <th style="font-weight:400;text-align:center"><i style="color:#17a2b8" class="fa fa-university"></i> Institute</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-list-ol"></i> Semester</th>
                                    <th style="font-weight:400"><i style="color:#17a2b8" class="fa fa-clock"></i> TimeSlots</th>
                                    <th style="font-weight:400;text-align:center"><i style="color:#17a2b8" class="fa fa-check"></i> Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>

<script>
    function LoadCreate() {
        $("#create").load("/Administration/TimeTableSlots/Create",
            function (response, status, xhr) {
                document.getElementById('crtBtn').disabled = false;
                if (status == "success") {
                } else if (status == "error" || status == "timeout") {
                    toastr.error('Sorry! An error has occurred. Please try again later');

                } else if (status == "notmodified") {
                    // NOT MODIFIED request (likely cached) //
                    toastr.error('Sorry! An error has occurred. Please try again later');

                } else if (status == "abort") {
                    // ABORTED request //
                    toastr.error('ABORTED request');
                }
            }
        );
        document.getElementById('crtBtn').disabled = false;
    }
    function LoadEdit(ID) {
        $("#edit").load("/Administration/TimeTableSlots/PreEdit?ID=" + parseInt(ID),
            function (response, status, xhr) {
                if (status == "success") {
                } else if (status == "error" || status == "timeout") {
                    toastr.error( 'Sorry! An error has occurred. Please try again later');

                } else if (status == "notmodified") {
                    // NOT MODIFIED request (likely cached) //
                    toastr.error('Sorry! An error has occurred. Please try again later');

                } else if (status == "abort") {
                    // ABORTED request //
                    toastr.error('ABORTED request');
                }
            });
    }
    function LoadDelete(ID) {
        $("#delete").load("/Administration/TimeTableSlots/Delete?ID=" + parseInt(ID),
            function (response, status, xhr) {
                if (status == "success") {
                } else if (status == "error" || status == "timeout") {
                    toastr.error('Sorry! An error has occurred. Please try again later');

                } else if (status == "notmodified") {
                    // NOT MODIFIED request (likely cached) //
                    toastr.error('Sorry! An error has occurred. Please try again later');

                } else if (status == "abort") {
                    // ABORTED request //
                    toastr.error('ABORTED request');
                }
            });
    }    
    window.onload = function () {
        var el = document.getElementById("nav_timetableslots");
        el.classList.add("navbar-cyan");
        if ('@ViewBag.Action'.toLowerCase() == "Create".toLowerCase()) {

            $("#create").load("/Administration/TimeTableSlots/Create?isNew=n");
        }
        else if ('@ViewBag.Action'.toLowerCase() == "edit".toLowerCase()) {

            $("#edit").load("/Administration/TimeTableSlots/PreEdit?isValid=n&ID="+'@ViewBag.ID');
        }
        else {

        }
    }
    $(function () {
        if ('@ViewBag.MessageType'.toLowerCase() == "success")
            toastr.success('@ViewBag.Message');
        else if ('@ViewBag.MessageType'.toLowerCase() == "info")
            toastr.info('@ViewBag.Message');
        else if ('@ViewBag.MessageType'.toLowerCase() == "error")
            toastr.error('@ViewBag.Message');
        else if ('@ViewBag.MessageType'.toLowerCase() == "info")
            toastr.warning('@ViewBag.Message');
        else;
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": [
                {
                    extend: 'copy',
                    title: 'Timetable Timings',
                    text: window.copyButtonTrans,
                    exportOptions: {
                        columns: [0,1,2,3]
                    }
                },
                {
                    extend: 'csv',
                    title: 'Timetable Timings',
                    text: window.csvButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'excel',
                    title: 'Timetable Timings',
                    text: window.excelButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Timetable Timings',
                    text: window.pdfButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'print',
                    title: 'Timetable Timings',
                    text: window.printButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'colvis',
                    title: 'Timetable Timings',
                    text: window.colvisButtonTrans,
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
            ]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>
